---
---


$black:#000000;

@import "primer-core/index.scss";
@import "primer-marketing/index.scss";
@import "toc.scss";
@import "custom.scss";
@import "covers.scss";
@import "anchor.scss";



@import "{{ site.theme }}";

$alt-body-font: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
$alt-mono-font: $mono-font;

@import "variables.scss";
@import "layout.scss";
@import "typography.scss";
@import "toc.scss";
@import "custom.scss";
@import "covers.scss";
@import "anchor.scss";

a{
  color: #423f3b;
}
.skills{
  display: flex;
  flex-flow: row wrap;
  -align-items: center;
  justify-items: center;
  @media (max-width:768px) {
    font-size: 18px;    
  }
  >div{
    flex:1;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.66);
    background: rgba(245, 222, 179, 0.5);
    background: #423f3b;
    color: white;
    letter-spacing: -0.5px;
  }
}

img{
  &.border{
    border:2px solid #ddd;    
  }
  &.radius{
    border-radius: 10px;
  }

  &.full-width{
    @media (min-width:1024px){
      margin-left: -20%!important;
      margin-right: -20%!important;
      width: 140%;
      max-width: 140%;              
    }
  }

  &.align-left {
    flex: 1 0 50%;
    float: left;
    width: 49%!important;
    margin: 3px;
  }
  &.emoji{
    width: 25px!important;
    height: 25px!important;
    margin: 0!important;
    max-width: initial!important;
  }      
}

h1 img.emoji,
h2 img.emoji{
  width: 42px!important;
  height: 42px!important;
}

.article-body>p{
  font-size: 18px;
}